
// Search
// --------------------------------------------------

#search-form {
	label {
		display: none;
	}
	.container-inline {
		width: 100%;
		height: 40px;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 20px;
		overflow: hidden;
		.form-item {
			width: calc(100% - 150px);
			float: left;
			margin: 0;
		}
		.form-search {
			border: none;
		}
		.form-submit {
			float: right;
			margin: 0;
			width: 120px;
		}
	}
	#edit-help-link {
		display: none;
	}
}

ol.search-results {
	margin: 0;
	li {
		margin: 0;
		padding: $gutter 0;
		border-bottom: 1px dashed $color-grey;
	}
}

.pager {
	padding-top: $gutter*2;
}