{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/wxj5lon.css">
    <css-placeholder token="{{ placeholder_token|raw }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    <js-placeholder token="{{ placeholder_token|raw }}">
    <link rel="apple-touch-icon" sizes="76x76" href="/themes/custom/coretheme/bookmark-icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/coretheme/bookmark-icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/coretheme/bookmark-icons/favicon-16x16.png">
    <link rel="manifest" href="/themes/custom/coretheme/bookmark-icons/site.webmanifest">
    <link rel="mask-icon" href="/themes/custom/coretheme/bookmark-icons/safari-pinned-tab.svg" color="#00c8aa">
    <link rel="shortcut icon" href="/themes/custom/coretheme/bookmark-icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00c8aa">
    <meta name="msapplication-config" content="/themes/custom/coretheme/bookmark-icons/browserconfig.xml">
    <meta name="theme-color" content="#00c8aa">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
