{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 */
#}
<div id="site-wrapper">

  <header class="region region--header clearfix">
    <div class="region--header-inner region-inner">

      <div class="branding">
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
          <img src="/web/themes/custom/coretheme/logo.png" alt="meemoo = Vlaams instituut voor het archief">
        </a>
      </div>

      <a href="#" id="mobile-menu-anchor">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 30 19" xml:space="preserve">
          <style type="text/css">
            .line{stroke-width:4;stroke-miterlimit:10;}
          </style>
          <line class="line line1" x1="0" y1="2" x2="30" y2="2"/>
          <line class="line line2" x1="0" y1="9.5" x2="30" y2="9.5"/>
          <line class="line line3" x1="0" y1="17" x2="30" y2="17"/>
        </svg>
      </a>

      {% if page.header %}
        <div class="header-desktop">
          {{ page.header }}
        </div>
      {% endif %}

      {% if page.header_mobile %}
        <div class="header-mobile">
          {{ page.header_mobile }}
        </div>
      {% endif %}
    </div>

  </header>

  <div class="region region--highlighted clearfix">

    {% if page.highlighted %}
    <div class="region--highlighted-inner region-inner">
      {{ page.highlighted }}
    </div>
    {% endif %}

  </div>

  <div class="region region--content clearfix">

    {% if page.content %}
    <div class="region--content-inner region-inner">
      {{ page.content }}
    </div>
    {% endif %}

  </div>

  {% if page.footer %}

    <div class="region region--footer clearfix">

      <div class="region--footer-inner region-inner">
        {{ page.footer }}
      </div>

    </div>

  {% endif %}

  {% if logged_in %}
    <span class="action-links-toggle"></span>
  {% endif %}


</div>
