
// Form
// --------------------------------------------------

.paragraph--type--form {
	@media all and (min-width: $md) {
		.field--name-field-text-body {
			max-width: 500px;
		}
		.form-item {
			@include clearfix();
			label, legend {
				width: 120px;
				float: left;
				line-height: 38px;
			}
			input, textarea, .fieldset-wrapper, .select {
				width: calc(100% - 150px);
				float: right;
			}
			.fieldset-wrapper label {
				line-height: 28px;
			}
		}
		.form-actions {
			input {
				float: right;
			}
		}
	}
}

