.paragraph--type--group {
  padding: $gutter*2 0;
  &:first-child:not(.paragraph--background) {
    padding-top: 0;
  }
  &:last-child:not(.paragraph--background) {
    padding-bottom: 0;
  }
  &.paragraph--background {
    background-color: $color-grey-light;
  }
  .paragraph--group-inner {
    @include sitewidth();
  }
  // two columns
  &.paragraph--group--two-column, &.paragraph--group--standard {
    > .paragraph--group-inner > .paragraph--group-content > .field--name-field-content > .paragraph > .field--name-field-title > a {
      cursor: default;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &.paragraph--group--two-column {
    > .paragraph--group-inner > .paragraph--group-content {
      @extend .container;
      > .field--name-field-content {
        @extend .row;
        > .paragraph--type--group-content {
          @extend .cols--1;
          @extend .cols--md--2;
          padding-bottom: 0;
          .field {
            padding-right: $gutter;
            @media all and (max-width: $md - 1px) {
              padding-right: 0;
            }
            .field {
              padding: 0;
            }
          }
          &:nth-child(2n+1) {
            clear: both;
          }
          &:nth-child(2n) {
            .field {
              padding-right: 0;
              padding-left: $gutter;
              .field {
                padding: 0;
              }
              @media all and (max-width: $md - 1px) {
                padding-left: 0;
              }
            }
          }
        }
      }
    }
  }
  &.paragraph--group--tabs {
    .paragraph--type--group-content {
      padding-bottom: 0;
    }
    .paragraph-tabs {
      padding-bottom: $gutter*2;
    }
    .paragraph-tab-titles {
      overflow: hidden;
      margin-bottom: $gutter*2;
      h2 {
        float: left;
        margin: 0 $gutter 0 0;
        button {
          background: $color-grey-light;
          color: $color-text;
          border-color: $color-grey-light;
        }
        &.is-active button {
          @extend .button-primary;
          color: $color-white !important;
          background: $color-primary !important;
        }
      }
    }
    > .paragraph--group-inner > .paragraph--group-content {
      > .paragraph-tabs > .field > .paragraph {
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: $transition-default;
        &.is-active {
          visibility: visible;
          opacity: 1;
          height: auto;
        }
      }
    }
  }
  &.paragraph--group--accordeon {
    .paragraph--type--group-content {
      padding-bottom: 0;
    }
    .paragraph--group-content {
      padding-bottom: $gutter*2;
    }
    > .paragraph--group-inner > .paragraph--group-content > .field--name-field-content > .paragraph {
      padding: $gutter 0 0;
      border-bottom: 1px solid $color-primary;
      &:first-child {
        padding: 0;
      }
      &:last-child {
        border: none;
      }
      > .field--name-field-title {
        > button {
          display: block;
          width: 100%;
          text-align: left;
          padding: 0 25px 0 0;
          position: relative;
          background: transparent;
          color: $color-text;
          border: none;
          font-size: $font-size-h3-small;
          font-weight: 700;
          @media all and (min-width: $md) {
            font-size: $font-size-h3;
          }
          &:after {
            content: '';
            position: absolute;
            top: 11px;
            right: 0;
            display: block;
            width: 1px;
            height: 1px;
            border: 8px solid $color-primary;
            border-bottom-color: rgba(255,255,255,0);
            border-left-color: rgba(255,255,255,0);
            border-right-color: rgba(255,255,255,0);
          }
          &:hover {
            text-decoration: none;
          }
        }
        &.is-active > a:after {
          border-top-color: rgba(255,255,255,0);
          border-bottom-color: $color-primary;
          top: 5px;
        }
      }
      > .field--name-field-blocks {
        display: none;
        p, ul, ol {
          &:last-child {
            margin-bottom: $gutter;
          }
        }
      }
    }
  }
  .field--name-field-id {
    display: none;
  }
}
