
// Paragrapphs
// --------------------------------------------------

.paragraph {
  padding-bottom: $gutter;
  &:last-child {
    padding-bottom: 0;
  }
}

.paragraph--type--text {
  p, ol, ul, li {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.paragraph--type--text,
.paragraph--type--image,
.paragraph--type--video {
	.field {
		max-width: 860px;
	}
}

.region--content-inner .paragraph--type--block .block {
  width: 100%;
}
