
// Mixins
// --------------------------------------------------

// CLEARFIX

@mixin clearfix() {
  &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

// SITE WIDTH
@mixin sitewidth() {
  width: 90%;
  max-width: $site-width;
  margin: 0 auto;
}

// Grid
// --------------------------------------------------

// CONTAINER
// Include CSS for grid container.

@mixin container() {
  position: relative;
  margin: auto;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
  width: 100%;
}

// ROW
// Include CSS for grid row.

@mixin row() {
  @include clearfix();
  margin-left: -$gutter;
  margin-right: -$gutter;
}


// COLUMNS
// Assign number of columns for this type of element

@mixin cols($value) {
  position: relative;
  float: left;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
  width: percentage(1 / $value);
}


