
// Settings
// --------------------------------------------------

// Fonts

$font-default:      'sofia-pro', arial, helvetica, sans-serif;
$font-title:        $font-default;

// Font sizes

$font-size-default:  	18px;
$font-size-small:   	14px;
$font-size-h1:   		60px;
$font-size-h1-small:  	32px;
$font-size-h2:   		40px;
$font-size-h2-small:   	24px;
$font-size-h3:   		24px;
$font-size-h3-small:   	20px;

// Grid

$site-width:  			1200px;
$gutter:        		15px;

// Breakpoints

$sm: 				400px;
$md:      			700px;
$lg:      			1000px;
$xl:      			1300px;

// Colors

$color-primary:     #00c8aa;
$color-secondary:   #009690;
$color-tertairy:    #82e678;
$color-quartenairy: #28a0c8;

$color-white:       #ffffff;
$color-black:       #000000;
$color-grey:        #969696;
$color-grey-dark:   #505050;
$color-grey-light:  #e6e6e6;

$color-text:        $color-black;
$color-link:		    $color-primary;
$color-status:      #1bb761; // status messages
$color-warning:     #ffa956; // warning messages
$color-error:       #f14d51; // error messages

$color-social-facebook:     #3b5998;
$color-social-twitter:      #55acee;
$color-social-linkedin:     #007bb5;
$color-social-googleplus:   #dd4b39;
$color-social-youtube:      #bb0000;
$color-social-instagram:    #e95950;
$color-social-reddit:       #ff4500;
$color-social-mail:         #666666;
$color-social-rss:          #ff9900;

// Borders

$border-radius-default:  5px;
$border-radius-button:  20px;


// Transition
// More examples at http://easings.net/

$easeIn:                    cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOut:                   cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOut:                 cubic-bezier(0.645, 0.045, 0.355, 1);

$transition-time-default:   0.4s;
$transition-default:        $easeOut $transition-time-default;
