.region--footer {
  margin-top: $gutter*3;
  padding: $gutter*2 0;
  background: $color-primary;
  color: $color-white;
  text-align: center;
  font-size: 16px;
  p:last-child {
    margin-bottom: 0;
  }
  a {
    color: $color-white;
    text-decoration: underline;
  }
}
#block-betamelding {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 260px;
  height: 260px;
  p {
    position: absolute;
    bottom: $gutter;
    left: $gutter;
    width: 144px;
    z-index: 3;
    margin: 0;
    font-size: 16px;
    text-align: left;
  }
  &::before {
    content: '';
    position: absolute;
    top: 95px;
    left: $gutter;
    width: 45px;
    height: 45px;
    background: transparent url(../img/development.png) no-repeat 0 0 / contain;
    z-index: 2;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 130px solid rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 200, 170, 0.65);
    border-bottom-color: rgba(0, 200, 170, 0.65);
    z-index: 1;
  }

  @media all and (max-width: $md - 1px) {
    background: $color-primary;
    width: 100%;
    height: auto;
    padding-left: 60px;
    p {
      position: static;
      width: auto;
      margin: $gutter 0;
      line-height: 30px;
    }
    &::before {
      top: $gutter;
      left: 15px;
      width: 30px;
      height: 30px;
    }
    &::after {
      display: none;
    }
  }
}
