
// Header mobile
// --------------------------------------------------

.header-desktop {
	display: none;
	@media all and (min-width: $md) {
		display: block;
	}
}

.header-mobile {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: $color-primary;
	.menu--main {
		float: none;
    ul.menu {
      padding-top: 70px;
    }
    ul.menu li {
      margin: 0;
      float: none;
      a {
        display: block;
        padding: $gutter 5%;
        color: $color-white;
        text-align: center;
        text-transform: uppercase;
      }
      ul.menu {
        background: rgba(255,255,255,0.2);
        padding: 5px 0;
        li a {
          text-transform: none;
          padding: 5px 0;
        }
      }
    }
  }
}

