
// Header
// --------------------------------------------------

.region--header-inner {
  display: flex;
  justify-content: flex-end;
}

// Branding
.region--header-inner .branding {
	margin: $gutter*2 auto $gutter*2 0;
}

// Hoofdmenu
.region--header-inner .menu--main {
	margin: 105px 0 $gutter $gutter;
	ul.menu li {
		float: left;
		margin-left: $gutter;
		a {
			display: block;
      font-size: 20px;
      font-weight: 700;
		}
	}
}

// MOBILE MENU ANCHOR

#mobile-menu-anchor {
	position: absolute;
	top: 35px;
	right: 5%;
	display: block;
	width: 40px;
	height: 40px;
  padding: 0;
	margin: 0;
  z-index: 100;
  svg {
    width: 100%;
    height: 100%;
    stroke: $color-primary;
    .line {
      transition: $transition-default;
    }
  }
  &:hover svg {
    stroke: $color-secondary;
  }
  &.is-active {
    svg {
      stroke: $color-white;
    }
    .line1, .line3 {
      transform-origin: 50% 50%;
    }
    .line1 {
      transform: rotate(45deg) translate(0, 39.5%);
    }
    .line2 {
      stroke: transparent;
    }
    .line3 {
      transform: rotate(-45deg) translate(0, -39.5%);
    }
  }
	@media all and (min-width: $md) {
		display: none;
	}
}

.adminimal-admin-toolbar {
  #mobile-menu-anchor {
    top: 54px;
  }
}
