table.errors {
  border-collapse: collapse;
  width: 100%; }
  table.errors tr:nth-child(even) {
    background-color: #f2f2f2; }
  table.errors tr:hover {
    background-color: #ddd; }
  table.errors tr td, table.errors tr th {
    border: 1px solid #ddd;
    padding: 8px; }
  table.errors tr th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white; }
  table.errors tr td.error {
    background-color: #FF0000; }

