{#
/**
 * @file csv.html.twig
 * Default theme implementation to present Csv data.
 *
 * This template is used when viewing Csv pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_csv()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('csv') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
