{% set numColumns = 11 %}
<div class="errors-wrapper">
  {% set generalError = 'FALSE' %}
{% for rownumber, error in data if generalError == 'FALSE' %}
{#  {% if error.general is defined %}#}
    {% set generalError = 'TRUE' %}
    <p>{{ 'Jouw CSV heeft een verkeerde structuur voor onderstaande lijnen'|t }}</p>
    <p>{{ 'Mogelijke oorzaken zijn:'|t }}</p>
    <ul>
      <li>{{ 'Verkeerde seperator'|t }}</li>
      <li>{{ 'Onjuist aantal kolommen'|t }}</li>
      <li>{{ 'Foutcodes in de inhoud. Verwijder items met een foutcode uit het bestand om deze te kunnen uploaden.'|t }}</li>
      <li>...</li>
    </ul>
{#  {% endif %}#}
{% endfor %}
<table class="errors">
  <thead>
    <tr>
      <th>{{ 'Rijnummer'|t }}</th>
      <th>{{ 'Identifier'|t }}</th>
      <th>{{ 'Objectnaam'|t }}</th>
      <th>{{ 'Creatiedatum'|t }}</th>
      <th>{{ 'Creatieplaats'|t }}</th>
      <th>{{ 'Vervaardiger'|t }}</th>
      <th>{{ 'Geboortedatum'|t }}</th>
      <th>{{ 'Sterfdatum'|t }}</th>
      <th>{{ 'Wikidata'|t }}</th>
      {% if step == 2 %}
        {% set numColumns = 16 %}
        <th>{{ 'Wikidata Link'|t }}</th>
      {% endif %}
      <th>{{ 'VIAF'|t }}</th>
      <th>{{ 'RKD'|t }}</th>
      <th>{{ 'ULAN'|t }}</th>
      {% if step == 2 %}
        <th>{{ 'Type vervaardiger'|t }}</th>
        <th>{{ 'Auteursrechtenstatus'|t }}</th>
        <th>{{ 'Foutcode'|t }}</th>
        <th>{{ 'Foutmelding'|t }}</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for rownumber, error in data|slice(0, 30) %}
      <tr>
        <td>{{ rownumber + 1 }}</td>
        {% set errors = error.row %}
        {% if error.row|length > numColumns %}
          {% set errors = error.row|slice(0, numColumns) %}
        {% endif %}
        {% if error.row|length < numColumns %}
          {% set columnsToAdd = numColumns - error.row|length %}
          {% for i in 1..columnsToAdd %}
            {% set errors = errors|merge(['']) %}
          {% endfor %}
        {% endif %}
        {% for columnumber, rowdata in errors %}
          {% set classes = [] %}
          {% set isError = 'false' %}
          {% if error[columnumber] is defined %}
            {% set classes = classes|merge(['error']) %}
            {% set isError = 'true' %}
          {% endif %}
          <td class="{{ classes|join(' ') }}">{{ rowdata }}{% if isError == 'true' %} <a href="{{ path('entity.node.canonical', {'node': 10}) }}#{{ error[columnumber].error|clean_class }}" class="tooltip-link" title="{{ error[columnumber].error|t }} error" target="_blank">{{ error[columnumber].error|t }} error</a>{% endif %}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{{ back }}">{{ 'Terug'|t }}</a>
</div>
