{#
/**
 * @file wikidata_update.html.twig
 * Default theme implementation to present Wikidata update data.
 *
 * This template is used when viewing Wikidata update pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_wikidata_update()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('wikidata_update') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
