#edit-field-blocks-wrapper {
  #edit-field-blocks {
    > strong,
    > #edit-field-blocks-text {
      display: none;
    }
  }
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
  .paragraphs-subform {
    margin-right: 15px;
  }
  .field--name-field-layout {
    border-bottom: 1px solid #e6e4df;
    margin: 0;
    padding: 5px 0;
    overflow: hidden;
    label {
      line-height: 29px;
      float: left;
      padding-right: 15px;
      display: block;
      font-size: 14px;
      font-weight: 400;
    }
    .form-item {
      margin: 0;
    }
  }
  thead tr {
    display: none;
  }
  .field--name-field-blocks {
    > div > div > strong,
    > div > div > .form-wrapper {
      display: none;
    }
  }
  .field--name-field-content {
    > div > div > strong,
    > div > div > .form-wrapper {
      display: none;
    }
    .form-item {
      margin: 0;
    }
    thead tr {
      display: table-row;
      border: none;
      padding: 0;
      th {
        padding: 5px 0;
        line-height: 29px;
        font-size: 14px;
        font-weight: 400;
        color: #595959;
        background: transparent;
        h4 {
          font-size: 14px;
          line-height: 29px;
          font-weight: 400;
        }
      }
    }
  }
  summary::-webkit-details-marker {
    display: none;
  }
  summary {
    display: block;
  }
  .field-group-details {
    margin: 0;
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid #e6e4df;
    border-radius: 0;
    background: transparent;
    .seven-details__summary {
      padding: 0;
      text-transform: none;
      font-size: 14px;
      font-weight: 400;
      line-height: 29px;
      color: inherit;
      text-shadow: none;
      &:after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 1px;
        border: 5px solid rgba(0,0,0,0);
        border-top: 5px solid rgba(0,0,0,0.5);
        transform: translate(8px,4px);
      }
      &:hover, &:focus {
        text-decoration: none;
        color: #0074bd;
      }
    }
  }
  .field--name-field-title,
  .field--name-field-id {
    border-bottom: 1px solid #e6e4df;
    margin: 0;
    padding: 5px 0;
    overflow: hidden;
    label {
      line-height: 29px;
      float: left;
      width: 75px;
      display: block;
      font-size: 14px;
      font-weight: 400;
    }
    input {
      margin: 0;
      max-width: calc(100% - 75px);
    }
  }
  .paragraphs-subform {
    .paragraphs-subform .paragraphs-subform {
      .form-wrapper:not(.paragraph-type-title):not(.paragraph-type-top) {
        margin: 0 0 10px 0;
      }
      .filter-wrapper {
        display: none;
      }
    }
  }
}

.field-multiple-table {
  tr {
    border: 1px solid #e6e4df;
  }
  td.field-multiple-drag {
    padding-top: 14px;
  }
  .paragraph-type-top {
    display: block;
    overflow: hidden;
    .paragraph-type-title,
    .paragraph-content-title {
      float: left;
    }
    .paragraphs-dropbutton-wrapper {
      float: right;
    }
  }
  .paragraph-type-title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 29px;
  }
  .paragraphs-dropbutton-wrapper {
    margin-right: 15px;
  }
  .paragraph--type--group-content.paragraph--view-mode--preview .field--name-field-title,
  .paragraph--type--group-content.paragraph--view-mode--preview .field--name-field-id,
  .paragraph--type--group.paragraph--view-mode--preview .field--name-field-layout,
  .paragraph--type--custom-block.paragraph--view-mode--preview .field--name-field-custom-block,
  .paragraph--type--block.paragraph--view-mode--preview .field--name-field-parablock-block,
  .paragraph--type--form.paragraph--view-mode--preview .field--name-field-form {
    display: none;
  }
  .paragraph-content-title {
    line-height: 29px;
  }
  .warning.tabledrag-changed {
    position: absolute;
  }
  tr.standard {
    .field--name-field-content {
      thead,
      .field-multiple-drag,
      .paragraph-type-top,
      .field-add-more-submit {
        display: none;
      }
      tr {
        border: none;
      }
      td {
        padding-top: 0;
      }
      .paragraphs-subform {
        .field-multiple-drag {
          display: table-cell;
        }
        thead,
        .field-add-more-submit,
        .paragraph-type-top {
          display: block;
        }
        tr {
          border: 1px solid #e6e4df;
        }
        td {
          padding-top: 10px;
        }
        .field--name-field-title,
        .field--name-field-id {
          display: none;
        }
      }
    }
  }
  tr:not(.standard) {
    .paragraphs-subform {
      thead {
        display: none;
      }
    }
  }
  tr.twoColumn {
    .field--name-field-content {
      .paragraphs-subform {
        .field--name-field-title,
        .field--name-field-id {
          display: none;
        }
      }
    }
  }
  tr.tabs {
    .field--name-field-content {
      .paragraphs-subform {
        .field--name-field-id {
          display: none;
        }
      }
    }
  }
  .field-multiple-table .field-multiple-table {
    .field--name-field-title {
      display: block !important;
    }
  }
}

.field--type-tablefield {
  > .form-item > .form-item {
    margin-bottom: 10px !important;
  }
  .form-type-tablefield {
    .form-tablefield.form-wrapper {
      padding: 0;
      border: none;
      tr {
        background: transparent;
      }
      td {
        padding: 15px 10px;
        border: 1px solid #e6e4df;
        cursor: pointer;
        &:hover {
          background: rgba(0,116,189,0.2);
        }
        > .form-item {
          display: none;
        }
        &.active {
          padding: 0;
          > .form-item {
            display: block;
          }
        }
      }
    }
    .tablefield-addrow {
      margin-left: 0;
      margin-bottom: 10px;
    }
    .tablefield-rebuild {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}



