
// Buttons
// --------------------------------------------------

.button, button,
input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  padding: 5px $gutter;
  color: $color-white;
  text-align: center;
  font-size: $font-size-default;
  font-weight: 700;
  text-decoration: none;
  background-color: $color-primary;
  border-radius: $border-radius-button;
  border: 2px solid $color-primary;
  cursor: pointer;
  transition: $transition-default;
  margin: 0;
  + .button {
    margin-left: $gutter;
  }
  &:hover {
      text-decoration: none;
      border-color: $color-black;
      background-color: $color-black;
  }
  &:focus {
    outline: 0;
    body.using-keyboard & {
      outline: 0;
      text-decoration: none;
      background-color: $color-black;
      border: 2px dashed $color-black;
    }
  }
}

// Primary
.button-primary, .button--primary {
  @extend .button;
  color: $color-white;
  background-color: $color-primary;
  border-color: $color-primary;
  &:hover {
    border-color: $color-black;
    background-color: $color-black;
  }
  &:focus {
    body.using-keyboard & {
      outline: 0;
      text-decoration: none;
      background-color: $color-black;
      border: 2px dashed $color-black;
    }
  }
}

