
// Document
// --------------------------------------------------

// Box Sizing

*,
*:before,
*:after {
    box-sizing: border-box;
}

*:focus {
  outline: none;
  body.using-keyboard & {
    outline: 2px dashed $color-primary;
  }
}

html  {
  -webkit-text-size-adjust: none; // Prevent font scaling in landscape
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
}

// Document settings

body {
  font-family: $font-default;
  font-size: $font-size-default;
  font-weight: 400;
  line-height: 1.5;
  color: $color-text;
  background-color: $color-white;
  font-variant-ligatures: none; // turn off ligatures
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:focus {
    body.using-keyboard & {
      outline: none;
    }
  }
}

.region-inner:not(.region--content-inner),
.progress,
.region--content-inner > h1 {
  @include sitewidth();
  .progress {
    width: 100%;
    margin-top: $gutter*2;
    .progress__bar {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), linear-gradient(to right bottom, #00c8aa 0%, #00c8aa 25%, #009690 25%, #009690 50%, #00c8aa 50%, #00c8aa 75%, #00c8aa 100%);
      border: none;
    }
  }
}
.region--content-inner {
  .block:not(.block-system-main-block) {
    @include sitewidth();
  }
  .block-system-main-block {
    > article > .node__content > .field:not(.field--name-field-blocks) {
      @include sitewidth();
    }
  }
}

#toolbar-administration {
  z-index: 9999;
}

.contextual-region {
  position: static;
}

.iwgh2-bar {
  z-index: 49;
}

.ajax-progress {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5) url(../img/loader.gif) no-repeat 50% 50%;
  > * { display: none !important; }
}

#user-login-form,
.user-pass,
.user-pass-reset,
.user-form,
.profile {
  @include sitewidth();
  padding: $gutter*2 0;
  .form-item {
    max-width: 420px;
  }
  .form-actions input {
    @extend .button-primary;
  }
}
.user-form {
  .field--name-user-picture,
  #edit-timezone,
  #edit-language {
    display: none;
  }
  .password-strength,
  .password-confirm,
  .description {
    font-size: 14px;
  }
}


.pager {
  .pager__item {
    padding: 0;
    margin: 0;
    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 15px;
    }
    &.is-active a {
      background: $color-primary;
      color: $color-white;
      font-weight: 400;
      text-decoration: none;
    }
  }
}


//cookie popup
#sliding-popup {
  width: 90vh !important;
  height: 90vh !important;
  z-index: 99;
  background: transparent !important;
  * {
    box-shadow: none !important;
    text-shadow: none !important;
  }
  > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup-content {
    margin: 20vh 20vh 10vh 10vh;
    position: relative;
    z-index: 99;
    max-width: 100%;
  }
  button {
    font-family: $font-default;
    font-size: 18px;
    display: inline-block;
    margin: 15px 0 0 0;
    padding: 5px 15px;
    min-height: 0;
    line-height: 1.4;
    text-transform: none;
    color: $color-text;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    border-radius: $border-radius-button;
    border: none;
    cursor: pointer;
    transition: $transition-default;
    margin-bottom: $gutter;
    background: $color-white;
    &:hover,
    &:focus {
        outline: 0;
        text-decoration: none;
        background-color: $color-black !important;
        color: $color-white !important;
    }
    &.hidden {
      display: none !important;
    }
  }
  .eu-cookie-compliance-categories,
  .eu-cookie-withdraw-tab {
    display: none;
  }
  .eu-cookie-compliance-category {
    position: relative;
  }
  #popup-text {
    float: none;
    margin: 0 !important;
    order: 1;
    p {
      margin: 0;
      display: inline-block;
      font-size: 18px;
      line-height: 1.5;
      font-weight: 400;
      &.title-cookie-banner {
        font-size: 22px;
        display: block;
        font-weight: 700;
        line-height: 33px;
        margin-bottom: 15px;
      }
    }
  }
  .tooltip {
    display: none;
    position: absolute;
    top: 4px;
    left: 240px;
    white-space: nowrap;
    padding: 0 15px;
    background: $color-black;
    color: $color-white;
    border-radius: 11px;
    font-weight: 400;
    font-size: 14px
  }
  #togglePreferences {
    margin-bottom: $gutter*2;
    a {
      text-decoration: underline;
      cursor: pointer;
      color: $color-white;
    }
  }
  #popup-buttons {
    float: none;
    margin: 0;
    max-width: none;
    order: 2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    button {
      display: inline-block;
      clear: both;
      margin-top: 0;
      margin-right: 15px;
      padding-left: 30px;
      white-space: nowrap;
      &.agree-button {
        background: $color-white url(../img/check.png) no-repeat 10px 50% / 16px auto;
      }
      &.disagree-button {
        background: $color-white url(../img/close.svg) no-repeat 10px 50% / 14px auto;
        color: rgba(0,0,0,.5);
      }
    }
  }
  #eu-cookie-compliance-categories {
    padding-top: 15px;
  }
  .eu-cookie-compliance-category {
    > div {
      font-size: 18px;
    }
    input {
      position: absolute;
      left: -9999px;
    }
    label {
      position: relative;
      padding-left: 25px;
      cursor: pointer;
      line-height: 16px;
      font-weight: 400;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 5px;
        display: block;
        width: 16px;
        height: 16px;
        background: $color-white;
        border: 1px solid $color-grey;
        border-radius: 2px;
      }
      .tooltip-icon {
        display: inline-block;
        height: 12px;
        width: 12px;
        margin-left: 5px;
        border-radius: 6px;
        text-align: center;
        line-height: 13px;
        background: $color-black;
        color: $color-white;
        font-size: 11px;
      }
    }
    input:checked + label:before {
      background: $color-white url(../img/check.png) no-repeat 50% 50% / 11px auto;
    }
    input:disabled + label:before {
      opacity: .5;
    }
  }
  .eu-cookie-compliance-categories-buttons {
    margin: 15px 0 5px;
    button {
      margin: 0;
    }
  }
  @media all and (max-width: $md) {
    width: 90vw !important;
    height: 90vw !important;
    padding: 5vw 10vw;
    .eu-cookie-compliance-save-preferences-button {
      white-space: nowrap;
    }
    .popup-content {
      margin: 0;
    }
    #popup-text > p:not(.title-cookie-banner) {
      display: none;
    }
    #popup-buttons {
      flex-direction: column-reverse;
    }
  }
  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 1px;
    position: absolute;
    bottom: -50px;
    left: -65px;
    z-index: 98;
    width: 90vh;
    height: 90vh;
    background: rgba(77,232,202,.9);
    border-radius: 50% 50% 50% 0;
    @media all and (max-width: $md) {
      width: calc(100vw + 65px) !important;
      height: calc(100vw + 65px) !important;
    }
  }
}
