
// Forms
// --------------------------------------------------

// Reset

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
input[type="time"],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

fieldset {
  padding: 0;
  border-width: 0;
  > legend {
    @extend label;
  }
}

.form-item--error-message {
  font-size: 14px;
  padding-top: 3px;
  strong {
    font-weight: 400;
  }
}

// Form item

.form-item {
  margin-top: 0;
  margin-bottom: $gutter;
}

// Labels

.form-item {
  label {
    display: block;
    margin-bottom: 0;
  }
}
.webform-element--title-inline {
  label {
    display: inline-block;
  }
}

label.field-label,
div.field-label,
span.field-label {
  @extend label;
  display: inline-block;
  margin-right: 5px;
}
.label-inline {
  @extend label;
  label.field-label,
  div.field-label,
  span.field-label,
  div.field-content {
    display: inline-block;
  }
}



// Description

.form-item {
  .description {
  	font-size: $font-size-small;
    p, ul, li {
      margin-bottom: 0;
    }
  }
}

// Prefix

.field-prefix {
  margin-right: 5px;
}

// Suffix

.field-suffix {
  margin-left: 5px;
}

// Form elements
// --------------------------------------------------

// Text fields

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
input[type="time"],
input.form-color,
select {
  width: 100%;
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: $color-white;
  border: 1px solid $color-grey;
  border-radius: $border-radius-button;
  box-shadow: none;
  box-sizing: border-box;
  font-size: $font-size-default;
  transition: all $transition-default;
  max-width: 100%;
  &:hover {
    border: 1px solid $color-text;
    outline: 0;
  }
  &:focus {
    body.using-keyboard & {
      border: 1px solid $color-primary;
      outline: 0;
    }
  }
}

// Textarea

textarea {
  width: 100%;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: $color-white;
  border: 1px solid $color-grey;
  border-radius: $border-radius-button;
  box-shadow: none;
  box-sizing: border-box;
  font-size: $font-size-default;
  min-height: 65px;
  transition: all $transition-default;
  &:hover {
    border: 1px solid $color-text;
    outline: 0;
  }
  &:focus {
    body.using-keyboard & {
      border: 1px solid $color-primary;
      outline: 0;
    }
  }
}

// select
.select {
  width: 100%;
  overflow: hidden;
  padding: 6px 46px 6px 10px;
  background: $color-white url(../img/select.png) no-repeat calc(100% - 15px) 50% / 16px auto;
  border: 1px solid $color-grey;
  border-radius: $border-radius-button;
  box-shadow: none;
  box-sizing: border-box;
  font-size: $font-size-default;
  transition: all $transition-default;
  &:hover {
    border: 1px solid $color-text;
    outline: 0;
  }
  &:focus {
    body.using-keyboard & {
      border: 1px solid $color-primary;
      outline: 0;
    }
  }
  select {
    width: calc(100% + 60px);
    height: 24px;
    max-width: none;
    background: transparent;
    border: none;
    padding: 0;
    &:focus {
      body.using-keyboard & {
        border: none;
        outline: 0;
      }
    }
  }
}
.select2-container {
  height: 24px !important;
  .selection, .select2-selection {
    border: none !important;
    height: 24px !important;
    min-height: 0 !important;
    ul, li, input {
      margin: 0 !important;
      padding: 0 !important;
      height: 24px !important;
    }
    .select2-selection__choice {
      margin-right: 5px !important;
      padding: 0 5px !important;
      color: $color-primary;
      background-color: $color-white;
      border: 1px solid $color-primary;
      height: 24px;
    }
  }
  .select2-results__option--highlighted[aria-selected] {
    background-color: $color-primary;
  }
}
.select2-dropdown {
  margin-top: 7px;
  margin-bottom: 7px;
}


// Checkbox/radio

.form-type-checkbox,
.form-type-radio,
.facet-item {
  overflow: hidden;
  input {
    margin-right: 5px;
    position: absolute;
    left: -9999px;
    z-index: 2;
    &:focus {
      body.using-keyboard & {
        left: 21px;
        top: 7px;
      }
    }
  }
  label {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    padding-left: 25px;
    position: relative;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      display: block;
      width: 16px;
      height: 16px;
      background: $color-white;
      border: 1px solid $color-grey;
      border-radius: 2px;
    }
    &:hover {
      color: $color-primary;
    }
  }
  .description {
    margin-left: 0;
  }
  input:checked + label:before {
    background: $color-white url(../img/check.png) no-repeat 50% 50% / 11px auto;
    border-color: $color-text;
  }
}
.form-type-radio {
  label {
    &:before {
      border-radius: 8px;
    }
  }
  input:checked + label:before {
    background: $color-white url(../img/dot.png) no-repeat 50% 50% / 10px auto;
  }
}

.form-checkboxes,
.webform-type-radios {
  .form-type-checkbox:not(:last-child),
  .form-type-radio:not(:last-child) {
    margin-bottom: 3px;
  }
  .form-type-checkbox:last-child,
  .form-type-radio:last-child {
    margin-bottom: 0;
  }
  .form-type-checkbox,
  .form-type-radio {
    label {
      &:before {
        top: 6px;
      }
    }
  }
}
.facet-item {
  label {
    &:before {
      top: 5px;
    }
  }
}

.form-type-managed-file .button {
  background-color: $color-grey-light;
  border-color: $color-grey-light;
  color: $color-text;
  &:hover {
    color: $color-white;
  }
}


// jQuery UI overides
// --------------------------------------------------

.ui-widget {
  font-family: $font-default;
  font-size: $font-size-default;
}

// Autocomplete

.ui-autocomplete {
  border: none;
  background: $color-white;
  .ui-menu-item {
    position: relative;
    z-index: 1;
    margin: -1px 0 0;
    padding: 10px 5px;
    border: 1px solid $color-grey;
    transition: all $transition-default;
  }
  .ui-state-focus {
    z-index: 2;
    background: none;
    border: solid 1px $color-primary;
  }
}
