
// Menu
// --------------------------------------------------

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
  	display: block;
    margin-bottom: 5px;
  }
  a {
  	display: block;
    color: $color-text;
    font-weight: 400;
    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }
  li.menu-item--active-trail > a {
    color: $color-primary;
  }
}

ul.menu {
	> li {
	  &.menu-item--expanded > a {
	  	margin-left: $gutter;
	  }
	}
}