
// Messages
// --------------------------------------------------

.messages {
  padding: 5px 15px 5px 35px;
  border: none;
  border-left: solid 5px;
  border-color: $color-primary;
  background-color: lighten($color-primary, 20%);
  background-position: 10px 10px;
  box-shadow: none;
  margin-bottom: $gutter;
  &.messages--status {
    border-color: $color-status;
    background-color: lighten($color-status, 20%);
  }
  &.messages--warning {
    border-color: $color-warning;
    background-color: lighten($color-warning, 20%);
  }
  &.messages--error {
    border-color: $color-error;
    background-color: lighten($color-error, 20%);
  }
}
