.region--content-inner {
  overflow: hidden;
}
.errors-wrapper {
  @include sitewidth();
  overflow: visible;
  position: relative;
  > a {
    @extend .button;
    margin-bottom: $gutter;
  }
}
table.errors {
  border-collapse: collapse;
  width: 100%;
  button {
    position: absolute;
    top: 6px;
    background: $color-primary url(../img/select.png) no-repeat 50% 50%;
    width: 41px;
    text-indent: -9999px;
    &:hover {
      background-color: $color-black
    }
    &.prev {
      left: -50px;
      transform: rotate(90deg);
    }
    &.next {
      right: -50px;
      transform: rotate(-90deg);
    }
  }
  tr {
    &:nth-child(even){
      background-color: $color-grey-light;
    }
    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
    td, th {
      border: 1px solid $color-grey;
      padding: 8px;
    }
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: $color-primary;
      color: white;
    }
    td.error {
      background-color: $color-error;
      padding-right: 30px;
      position: relative;
      a.tooltip-link {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 100%;
        height: 100%;
        text-indent: -9999px;
        background: transparent url(../img/error.png) no-repeat calc(100% - 5px) 50% / 25px auto;
      }
    }
  }
}
